body, html{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #C2E6E4;
}

.burger,
#logo-black {
    display: none;
}

/* Header */

header {
    background: #40B3A2;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo{
    float: left;
    width: 300px;
    margin: 12px 0 12px 25px;
}

nav{
    float: right;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;

    margin-top: 20px;
    margin-right: 0;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 25px;
}

nav li a {
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: black;
    
}

nav li a:hover{
    color: #747474;
}

/*container*/

.container{
    top: 200px;
    width: 80%;
    margin:auto;
}

h1 {
    padding-top: 150px;
    font-weight: bold;
    font-size: 48px;
    
    text-align: center;
    
}

h1 span { 
    background: #C38D9D;
    padding: 0 5px 5px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

p {
    font-weight: 600;
    font-size: 32px;
}

/* Home */

#home {
    height:calc(100vh - 100px);

    vertical-align:middle;
    text-align:center;
}


.main-title{
    margin-top: 35px;
}

#pi{
    margin: 20px;
    margin-top: 60px;
    vertical-align:middle;
    width: 90%;
    max-width: calc(100vh - 100px);
}

/* About */

#about{
    margin-top: 10px;
    text-align:center;
}

#about h1{
    display: inline-block;
}

#pi-logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
    margin-bottom: 25px;
}

#about p{
    margin-top: 0;
    margin-bottom: 100px;
    text-align: left;
}

/* Models */

#models {
    text-align: center;
    display: inline-block;
}

#models .description {
    text-align: center;
    margin-bottom: 0;
}

#models ul {
    list-style: none;
}

#models li {
    text-align: center;
    width: 25%;
    padding: 40px;
    float: left;
}

#models li img{
    margin: 0 auto;
    width: 100%;
}

/* Setup*/

#setup {
    overflow: hidden;
    display: block;
}

#setup p {
    width: 50%;
    float: left;
}


#setup img {
    float: right;
    width: 45%;
    vertical-align: center;
    margin-top: 50px;

}

#setup a {
    text-decoration: none;
    color: #0083DD;
}

/* buying */

#buying {
    margin-top: 100px;
    text-align: center;
}

#buying p {
    text-align: center;
    margin-bottom: 80px;
}

#buying a {
    background: #00A4F6;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 15px;
    border-radius: 30px;
}

/* Footer */

footer {
    margin-top: 150px;
    background: #959595;
    text-align: center;
}

footer p {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0;
}


@media only screen and (max-width: 1300px) {

    nav ul li {
        margin-left: 35px;
    }

    nav li a {
        font-size: 22px;
        
    }

    #models li {
        width: calc(33% - 40px);
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #models ul {
        text-align: center;
    }


    #models li p {
        font-size: 26px;
    }

}


@media only screen and (max-width: 1100px) {
    /* Header */
    nav li {
        margin-left: 25px;

        text-align: center;
        padding-top: 20px;
    }

    nav li a {
        font-size: 18px;
    }

    .logo{
        width: 25%;
    }
    
}

@media only screen and (max-width: 950px) {

    /* Header */
    nav ul li {
        margin-left: 20px;
        padding-top: 15px;
    }

    nav li a {
        font-size: 16px;
    }

    /* setup */

    #setup p,
    #setup img{
        float: none;
        width: 100%;
        margin-top: 0; 
    }

}

/* mobile */
@media only screen and (max-width: 767px) {
    .container{
        float: none;
        width: 90%;
    }

    /* main page */
    
    .main-title{
        margin-top: 150px;
        font-size: 36px;
    }

    /*nav bar and header*/


    header nav li {
        display: block;
        text-align: left;
        margin-top: 10px;
        padding-bottom: 50px;
    }

    header ul { 
        display: none;
    }

    header ul a {
        font-size: 22px;
    }

    .logo{
        width:250px;
        margin-left: 10%;
    }

    .burger{
        display: block;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
    }

    .active {
        margin: 0;
        float: none;
        position: fixed;
        display: block;
        background: #e27d60;
        width: 50%;
        left: 0;
        top: 103px;
        height: calc(100% - 103px);
    }

    #logo-black{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0 5% 50px 5%;
        width: 90%;
        opacity: 0.5;
    }

    /* models */

    #models li {
        text-align: center;
        width: 90%;
        padding: 0;
        margin-bottom: 20px;
        float: none;
    }
    
    #models li img{
        width: 65%;
    }
}

/* logo fix*/
@media only screen and (max-height: 850px) {
    #logo-black {
        height: 15%;
    }

}